APP_DOMAIN=example.com
PROJECT_NAME=Analog Stepik

POSTGRES_USER=analogstepik
POSTGRES_PASSWORD=change-me
POSTGRES_DB=analogstepik

RABBITMQ_DEFAULT_USER=analogstepik_queue
RABBITMQ_DEFAULT_PASS=change-me
REDIS_PASSWORD=change-me

DATABASE_URL=postgresql+asyncpg://analogstepik:change-me@db:5432/analogstepik
CELERY_BROKER_URL=amqp://analogstepik_queue:change-me@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://:change-me@redis:6379/0
RUNNER_URL=http://runner:9000/run
RUNNER_RUNTIME=runsc

SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=40320
REFRESH_TOKEN_EXPIRE_MINUTES=43200

CORS_ORIGINS=https://example.com
